<div class="contact-container">
    <h1>Contact Information</h1>
  
    <div class="contact-details">
      <p>You don't need to contact me</p>
      <p>But if you do, email me at:</p>
      <p class="email">ahmedtariq1591@gmail.com</p>
    </div>
  
    <div class="cta-container">
      <button class="cta-button" (click)="sendEmail()">Send Email</button>
    </div>
  </div>
  <div class="contact-container">
    <h1>Contact Information</h1>
  
    <div class="contact-details">
      <p>You don't need to contact me</p>
      <p>But if you do, email me at:</p>
      <p class="email">ahmedtariq1591@gmail.com</p>
    </div>
  
    <div class="cta-container">
      <button class="cta-button" (click)="sendEmail()">Send Email</button>
    </div>
  </div>
    